<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.ChassisMapper">

    <select id="getChassisById" resultType="com.zb.pojo.Chassis">
        select
                hcid as hcid,
                hdrive as hdrive,
                hhelp as hhelp,
                hbraking as hbraking,
                hfront as hfront,
                hqueen as hqueen
        from chassis
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getChassisListByMap" resultType="com.zb.pojo.Chassis" parameterType="java.util.Map">
        select
                hcid as hcid,
                hdrive as hdrive,
                hhelp as hhelp,
                hbraking as hbraking,
                hfront as hfront,
                hqueen as hqueen
        from chassis
        <trim prefix="where" prefixOverrides="and | or">
                <if test="hcid != null and hcid!=''">
                    and hcid=#{hcid}
                </if>
                <if test="hdrive != null and hdrive!=''">
                    and hdrive=#{hdrive}
                </if>
                <if test="hhelp != null and hhelp!=''">
                    and hhelp=#{hhelp}
                </if>
                <if test="hbraking != null and hbraking!=''">
                    and hbraking=#{hbraking}
                </if>
                <if test="hfront != null and hfront!=''">
                    and hfront=#{hfront}
                </if>
                <if test="hqueen != null and hqueen!=''">
                    and hqueen=#{hqueen}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getChassisCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from chassis
        <trim prefix="where" prefixOverrides="and | or">
                <if test="hcid != null and hcid!=''">
                    and hcid=#{hcid}
                </if>
                <if test="hdrive != null and hdrive!=''">
                    and hdrive=#{hdrive}
                </if>
                <if test="hhelp != null and hhelp!=''">
                    and hhelp=#{hhelp}
                </if>
                <if test="hbraking != null and hbraking!=''">
                    and hbraking=#{hbraking}
                </if>
                <if test="hfront != null and hfront!=''">
                    and hfront=#{hfront}
                </if>
                <if test="hqueen != null and hqueen!=''">
                    and hqueen=#{hqueen}
                </if>
        </trim>
    </select>

    <insert id="insertChassis" parameterType="com.zb.pojo.Chassis">
        insert into chassis(
                        hcid,
                        hdrive,
                        hhelp,
                        hbraking,
                        hfront,
                        hqueen)
        values(
                     #{hcid},
                     #{hdrive},
                     #{hhelp},
                     #{hbraking},
                     #{hfront},
                    #{hqueen})
    </insert>

    <update id="updateChassis" parameterType="com.zb.pojo.Chassis">
        update chassis
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="hcid != null and hcid!=''">
                            hcid=#{hcid},
                        </if>
                        <if test="hdrive != null and hdrive!=''">
                            hdrive=#{hdrive},
                        </if>
                        <if test="hhelp != null and hhelp!=''">
                            hhelp=#{hhelp},
                        </if>
                        <if test="hbraking != null and hbraking!=''">
                            hbraking=#{hbraking},
                        </if>
                        <if test="hfront != null and hfront!=''">
                            hfront=#{hfront},
                        </if>
                        <if test="hqueen != null and hqueen!=''">
                            hqueen=#{hqueen}
                        </if>
        </trim>
    </update>
</mapper>