<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.EasilyMapper">

    <select id="getEasilyById" resultType="com.zb.pojo.Easily">
        select
                ycid as ycid,
                ybox as ybox,
                ystor as ystor,
                ypump as ypump,
                yjel as yjel,
                yengine as yengine,
                ycold as ycold
        from easily
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getEasilyListByMap" resultType="com.zb.pojo.Easily" parameterType="java.util.Map">
        select
                ycid as ycid,
                ybox as ybox,
                ystor as ystor,
                ypump as ypump,
                yjel as yjel,
                yengine as yengine,
                ycold as ycold
        from easily
        <trim prefix="where" prefixOverrides="and | or">
                <if test="ycid != null and ycid!=''">
                    and ycid=#{ycid}
                </if>
                <if test="ybox != null and ybox!=''">
                    and ybox=#{ybox}
                </if>
                <if test="ystor != null and ystor!=''">
                    and ystor=#{ystor}
                </if>
                <if test="ypump != null and ypump!=''">
                    and ypump=#{ypump}
                </if>
                <if test="yjel != null and yjel!=''">
                    and yjel=#{yjel}
                </if>
                <if test="yengine != null and yengine!=''">
                    and yengine=#{yengine}
                </if>
                <if test="ycold != null and ycold!=''">
                    and ycold=#{ycold}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getEasilyCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from easily
        <trim prefix="where" prefixOverrides="and | or">
                <if test="ycid != null and ycid!=''">
                    and ycid=#{ycid}
                </if>
                <if test="ybox != null and ybox!=''">
                    and ybox=#{ybox}
                </if>
                <if test="ystor != null and ystor!=''">
                    and ystor=#{ystor}
                </if>
                <if test="ypump != null and ypump!=''">
                    and ypump=#{ypump}
                </if>
                <if test="yjel != null and yjel!=''">
                    and yjel=#{yjel}
                </if>
                <if test="yengine != null and yengine!=''">
                    and yengine=#{yengine}
                </if>
                <if test="ycold != null and ycold!=''">
                    and ycold=#{ycold}
                </if>
        </trim>
    </select>

    <insert id="insertEasily" parameterType="com.zb.pojo.Easily">
        insert into easily(
                        ycid,
                        ybox,
                        ystor,
                        ypump,
                        yjel,
                        yengine,
                        ycold)
        values(
                     #{ycid},
                     #{ybox},
                     #{ystor},
                     #{ypump},
                     #{yjel},
                     #{yengine},
                    #{ycold})
    </insert>

    <update id="updateEasily" parameterType="com.zb.pojo.Easily">
        update easily
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="ycid != null and ycid!=''">
                            ycid=#{ycid},
                        </if>
                        <if test="ybox != null and ybox!=''">
                            ybox=#{ybox},
                        </if>
                        <if test="ystor != null and ystor!=''">
                            ystor=#{ystor},
                        </if>
                        <if test="ypump != null and ypump!=''">
                            ypump=#{ypump},
                        </if>
                        <if test="yjel != null and yjel!=''">
                            yjel=#{yjel},
                        </if>
                        <if test="yengine != null and yengine!=''">
                            yengine=#{yengine},
                        </if>
                        <if test="ycold != null and ycold!=''">
                            ycold=#{ycold}
                        </if>
        </trim>
    </update>
</mapper>