<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.EngineMapper">

    <select id="getEngineById" resultType="com.zb.pojo.Engine">
        select
                ncid as ncid,
                nscale as nscale,
                nform as nform,
                ngas as ngas,
                nsoup as nsoup,
                ntype as ntype
        from engine
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getEngineListByMap" resultType="com.zb.pojo.Engine" parameterType="java.util.Map">
        select
                ncid as ncid,
                nscale as nscale,
                nform as nform,
                ngas as ngas,
                nsoup as nsoup,
                ntype as ntype
        from engine
        <trim prefix="where" prefixOverrides="and | or">
                <if test="ncid != null and ncid!=''">
                    and ncid=#{ncid}
                </if>
                <if test="nscale != null and nscale!=''">
                    and nscale=#{nscale}
                </if>
                <if test="nform != null and nform!=''">
                    and nform=#{nform}
                </if>
                <if test="ngas != null and ngas!=''">
                    and ngas=#{ngas}
                </if>
                <if test="nsoup != null and nsoup!=''">
                    and nsoup=#{nsoup}
                </if>
                <if test="ntype != null and ntype!=''">
                    and ntype=#{ntype}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getEngineCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from engine
        <trim prefix="where" prefixOverrides="and | or">
                <if test="ncid != null and ncid!=''">
                    and ncid=#{ncid}
                </if>
                <if test="nscale != null and nscale!=''">
                    and nscale=#{nscale}
                </if>
                <if test="nform != null and nform!=''">
                    and nform=#{nform}
                </if>
                <if test="ngas != null and ngas!=''">
                    and ngas=#{ngas}
                </if>
                <if test="nsoup != null and nsoup!=''">
                    and nsoup=#{nsoup}
                </if>
                <if test="ntype != null and ntype!=''">
                    and ntype=#{ntype}
                </if>
        </trim>
    </select>

    <insert id="insertEngine" parameterType="com.zb.pojo.Engine">
        insert into engine(
                        ncid,
                        nscale,
                        nform,
                        ngas,
                        nsoup,
                        ntype)
        values(
                     #{ncid},
                     #{nscale},
                     #{nform},
                     #{ngas},
                     #{nsoup},
                    #{ntype})
    </insert>

    <update id="updateEngine" parameterType="com.zb.pojo.Engine">
        update engine
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="ncid != null and ncid!=''">
                            ncid=#{ncid},
                        </if>
                        <if test="nscale != null and nscale!=''">
                            nscale=#{nscale},
                        </if>
                        <if test="nform != null and nform!=''">
                            nform=#{nform},
                        </if>
                        <if test="ngas != null and ngas!=''">
                            ngas=#{ngas},
                        </if>
                        <if test="nsoup != null and nsoup!=''">
                            nsoup=#{nsoup},
                        </if>
                        <if test="ntype != null and ntype!=''">
                            ntype=#{ntype}
                        </if>
        </trim>
    </update>
</mapper>