<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.GreatMapper">

    <select id="getGreatById" resultType="com.zb.pojo.Great">
        select
                gcid as gcid,
                gleft as gleft,
                gright as gright,
                gfirewall  as gfirewall ,
                gtrunk as gtrunk,
                gbumper as gbumper,
                gtop as gtop
        from great
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGreatListByMap" resultType="com.zb.pojo.Great" parameterType="java.util.Map">
        select
                gcid as gcid,
                gleft as gleft,
                gright as gright,
                gfirewall  as gfirewall ,
                gtrunk as gtrunk,
                gbumper as gbumper,
                gtop as gtop
        from great
        <trim prefix="where" prefixOverrides="and | or">
                <if test="gcid != null and gcid!=''">
                    and gcid=#{gcid}
                </if>
                <if test="gleft != null and gleft!=''">
                    and gleft=#{gleft}
                </if>
                <if test="gright != null and gright!=''">
                    and gright=#{gright}
                </if>
                <if test="gfirewall  != null and gfirewall !=''">
                    and gfirewall =#{gfirewall }
                </if>
                <if test="gtrunk != null and gtrunk!=''">
                    and gtrunk=#{gtrunk}
                </if>
                <if test="gbumper != null and gbumper!=''">
                    and gbumper=#{gbumper}
                </if>
                <if test="gtop != null and gtop!=''">
                    and gtop=#{gtop}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getGreatCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from great
        <trim prefix="where" prefixOverrides="and | or">
                <if test="gcid != null and gcid!=''">
                    and gcid=#{gcid}
                </if>
                <if test="gleft != null and gleft!=''">
                    and gleft=#{gleft}
                </if>
                <if test="gright != null and gright!=''">
                    and gright=#{gright}
                </if>
                <if test="gfirewall  != null and gfirewall !=''">
                    and gfirewall =#{gfirewall }
                </if>
                <if test="gtrunk != null and gtrunk!=''">
                    and gtrunk=#{gtrunk}
                </if>
                <if test="gbumper != null and gbumper!=''">
                    and gbumper=#{gbumper}
                </if>
                <if test="gtop != null and gtop!=''">
                    and gtop=#{gtop}
                </if>
        </trim>
    </select>

    <insert id="insertGreat" parameterType="com.zb.pojo.Great">
        insert into great(
                        gcid,
                        gleft,
                        gright,
                        gfirewall ,
                        gtrunk,
                        gbumper,
                        gtop)
        values(
                     #{gcid},
                     #{gleft},
                     #{gright},
                     #{gfirewall },
                     #{gtrunk},
                     #{gbumper},
                    #{gtop})
    </insert>

    <update id="updateGreat" parameterType="com.zb.pojo.Great">
        update great
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="gcid != null and gcid!=''">
                            gcid=#{gcid},
                        </if>
                        <if test="gleft != null and gleft!=''">
                            gleft=#{gleft},
                        </if>
                        <if test="gright != null and gright!=''">
                            gright=#{gright},
                        </if>
                        <if test="gfirewall  != null and gfirewall !=''">
                            gfirewall =#{gfirewall },
                        </if>
                        <if test="gtrunk != null and gtrunk!=''">
                            gtrunk=#{gtrunk},
                        </if>
                        <if test="gbumper != null and gbumper!=''">
                            gbumper=#{gbumper},
                        </if>
                        <if test="gtop != null and gtop!=''">
                            gtop=#{gtop}
                        </if>
        </trim>
    </update>
</mapper>