<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.PhotoMapper">

    <select id="getPhotoById" resultType="com.zb.pojo.Photo">
        select
                pid as pid,
                pcid as pcid,
                pphoto as pphoto,
                pindex as pindex,
                pname as pname
        from photo
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getPhotoListByMap" resultType="com.zb.pojo.Photo" parameterType="java.util.Map">
        select
                pid as pid,
                pcid as pcid,
                pphoto as pphoto,
                pindex as pindex,
                pname as pname
        from photo
        <trim prefix="where" prefixOverrides="and | or">
                <if test="pid != null and pid!=''">
                    and pid=#{pid}
                </if>
                <if test="pcid != null and pcid!=''">
                    and pcid=#{pcid}
                </if>
                <if test="pphoto != null and pphoto!=''">
                    and pphoto=#{pphoto}
                </if>
                <if test="pindex != null and pindex!=''">
                    and pindex=#{pindex}
                </if>
                <if test="pname != null and pname!=''">
                    and pname=#{pname}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getPhotoCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from photo
        <trim prefix="where" prefixOverrides="and | or">
                <if test="pid != null and pid!=''">
                    and pid=#{pid}
                </if>
                <if test="pcid != null and pcid!=''">
                    and pcid=#{pcid}
                </if>
                <if test="pphoto != null and pphoto!=''">
                    and pphoto=#{pphoto}
                </if>
                <if test="pindex != null and pindex!=''">
                    and pindex=#{pindex}
                </if>
                <if test="pname != null and pname!=''">
                    and pname=#{pname}
                </if>
        </trim>
    </select>

    <insert id="insertPhoto" parameterType="com.zb.pojo.Photo">
        insert into photo(
                        pid,
                        pcid,
                        pphoto,
                        pindex,
                        pname)
        values(
                     #{pid},
                     #{pcid},
                     #{pphoto},
                     #{pindex},
                    #{pname})
    </insert>

    <update id="updatePhoto" parameterType="com.zb.pojo.Photo">
        update photo
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="pid != null and pid!=''">
                            pid=#{pid},
                        </if>
                        <if test="pcid != null and pcid!=''">
                            pcid=#{pcid},
                        </if>
                        <if test="pphoto != null and pphoto!=''">
                            pphoto=#{pphoto},
                        </if>
                        <if test="pindex != null and pindex!=''">
                            pindex=#{pindex},
                        </if>
                        <if test="pname != null and pname!=''">
                            pname=#{pname}
                        </if>
        </trim>
    </update>
</mapper>