<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.SeriesMapper">

    <select id="getSeriesById" resultType="com.zb.pojo.Series">
        select
                sid as sid,
                sname as sname,
                sbid as sbid
        from series
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getSeriesListByMap" resultType="com.zb.pojo.Series" parameterType="java.util.Map">
        select
                sid as sid,
                sname as sname,
                sbid as sbid
        from series
        <trim prefix="where" prefixOverrides="and | or">
                <if test="sid != null and sid!=''">
                    and sid=#{sid}
                </if>
                <if test="sname != null and sname!=''">
                    and sname=#{sname}
                </if>
                <if test="sbid != null and sbid!=''">
                    and sbid=#{sbid}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getSeriesCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from series
        <trim prefix="where" prefixOverrides="and | or">
                <if test="sid != null and sid!=''">
                    and sid=#{sid}
                </if>
                <if test="sname != null and sname!=''">
                    and sname=#{sname}
                </if>
                <if test="sbid != null and sbid!=''">
                    and sbid=#{sbid}
                </if>
        </trim>
    </select>

    <insert id="insertSeries" parameterType="com.zb.pojo.Series">
        insert into series(
                        sid,
                        sname,
                        sbid)
        values(
                     #{sid},
                     #{sname},
                    #{sbid})
    </insert>

    <update id="updateSeries" parameterType="com.zb.pojo.Series">
        update series
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="sid != null and sid!=''">
                            sid=#{sid},
                        </if>
                        <if test="sname != null and sname!=''">
                            sname=#{sname},
                        </if>
                        <if test="sbid != null and sbid!=''">
                            sbid=#{sbid}
                        </if>
        </trim>
    </update>
</mapper>